
.btn-edit, .btn-delete{
    border: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    background-color: transparent;
}
button.btn-primary{
    padding: 0.5rem 19rem;
    margin: auto;
}
button i.fa-regular{
    transition: all .5s;
    padding: 0 1rem;
}
button i.fa-regular:hover{
    transform: scale(1.3);
}